:root{
    --color-azul:rgb(21, 19, 60);
    --color-grisdark:rgb(115, 119, 123);
    --color-grislight:rgb(241, 238, 233);
    --color-naranja:rgb(236, 153, 75);
}
* {
	font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
	background-color:rgb(21, 19, 60);   
        color: rgb(241, 238, 233);
        
}
.header {
    width: 100vw;
    height: 10vh;
    background-color: rgb(236, 153, 75);    
}
.logo_nav-link{
    color: rgb(241, 238, 233);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: -10px;
    margin-left: 20px;  
}
.ul-menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.ul-menu li{
    list-style: none;
}

.ul-menu a{
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(241, 238, 233);
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.ul-menu a:hover{
    border-style: solid;
    color: rgb(241, 238, 233);
}
.logo_nav-link:hover{
    border-style: solid;
    color: rgb(241, 238, 233);
}
.section-proyec{
    display: flex;
    align-items: center;
    padding-top: 100px;
}
.content-article{
   display: block;
   margin: 40px 30px;
   
   
}

.div-iframe{
    text-align: center;
}
.btn-ver a{
   display: block;
   color: var(--color-grislight);
   text-decoration: none;
   border-color: var(--color-grislight);
   border-radius: 100px;
   padding: 10px 20px;
   text-align: center;
}
.descrip-proyec{
    text-align: center;
}
.footer{
    padding-bottom: 0;
    text-align: center;
}

